<ion-header>
  <ion-navbar>
    <ion-title>uniMap</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- ****************************************  select boxes   ***************************************** -->
  <div id='select-box' >

    <select placeholder='travel mode' [(ngModel)]="travelMode" placeholder="travel mode">
      <option *ngFor="let mode of travelModes" [value]="mode.name">{{mode.name}}</option>
    </select>

    <select placeholder='university' *ngIf='travelMode' [(ngModel)]="uniName" placeholder="select university" (change)='changeUniversity()'>
      <option *ngFor="let uni of universities" [value]="uni.name">{{uni.name}}</option>
    </select>

    <select placeholder='from' *ngIf='uniName' [(ngModel)]="origin.name" placeholder="from" (change)='changeOrigin()'>
      <option *ngFor="let college of colleges" [value]="college.name">{{college.name}}</option>
    </select>

    <select placeholder='to' *ngIf='origin.name' [(ngModel)]="destination.name" placeholder="to" (change)='changeDestination()'>
      <option *ngFor="let college of colleges" [value]="college.name">{{college.name}}</option>
    </select>

  </div>


<!-- ****************************************  Map   **********************************************   -->
  <div #map id='map'>
  </div>


</ion-content>
